//CSS reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Custom
#logo {
		padding:20px;
}
h1 {
		
}

li {
	list-style-type:none;
	float:left;
}
li a {
	padding:5px 10px 5px 10px;
}

#globalContainer {
	right:250px;
	top:0px;
	left:0px;
	height:100%;
	position:absolute;	
}

header {
	position:relative;
	width:100%;
	height:80px;
	border-bottom:1px solid black;
}
#content {
	position:relative	
}
footer {
}

#search {
	position:absolute;
	right: 10px;
	top: 10px;	
}

/*-------- Chat --------*/

#chat {
	top:0px;
	width:250px;
	height:100%;
	right:0px;
	position:absolute;
	background-color: #CCC;
	border-left:1px solid black;
}
#chatFooter {
	height: 20px;
	width: 250px;
	position:absolute;
	bottom:0px;
	border-top:1px solid black;
	padding:10px;
	font-size:20px;
}
.chat_headline h3 {
	margin: 10px 5px 5px 5px;
	padding: 0;
}
.chat_headline img {
	width: 40px;
	height: 40px;
}

.chat_box {
	width: 100%;
	height: 150px;
	background-color: #FFF;
	display: block;
	margin-bottom: 5px;
	overflow: scroll;
}
.chat_box p {
	margin: 0 2px 2px 2px;
}
.chat_input {
	width: 70%;
	display: block;
}
.chat_submit {
	height: 21px;
	padding-top: 2px;
	width: 25%;
	display: block;
	background-color:#333333;
	color: #fff !important;
	text-align: center;
	text-decoration: none;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.green_txt {
	color: #090;
}
.blue_txt {
	color: #03C;
}
/*-------- jQuery UI --------*/

.ui-widget {
	font-size: 14px;
}
.ui-accordion-content {
	padding: 5px !important;
}